*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

button{
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 20px;
}

main{
    margin: 100px;
}

button:hover{
    cursor: pointer;
}

.dark{
    background-color: #000000;
    color: #fff;
}

.light{
    color: #000000;
    background-color: #fff;
}

.hidden{
    display: none;
}